/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~General Tags~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --menu-offset: 5%;
}

h1,
h2 {
    font-size: 2em
}

h3 {
    font-size: 1.5em
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
    padding-top: 2em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Navigation~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav {
    position: fixed;
    top: 2em;

    transition: width .5s ease;

    border-bottom: none;
    width: 0;
    height: calc(100% - 2em);
    background-color: rgba(105, 105, 105, 0.9);
}

nav ul {
    overflow: hidden;

    height: 100%;
}

nav li {
    border-top: none;
    height: 16%;
    padding-left: 5%;
}

nav li:nth-child(1) {
    margin-left: calc(var(--menu-offset) * 1);
}

nav li:nth-child(2) {
    margin-left: calc(var(--menu-offset) * 2);
}

nav li:nth-child(3) {
    margin-left: calc(var(--menu-offset) * 3);
}

nav li:nth-child(4) {
    margin-left: calc(var(--menu-offset) * 4);
}

nav li:nth-child(5) {
    margin-left: calc(var(--menu-offset) * 5);
}

nav li:nth-child(6) {
    margin-left: calc(var(--menu-offset) * 6);
}

nav a {
    transition: .25s ease;

    overflow: visible;

    width: max-content;
    padding: 0 5% 0 0;

    background-color: transparent;

    line-height: calc((100vh - 2em) / 5);
    text-align: left;
}

nav a:hover {
    padding-left: var(--menu-offset);
}

nav a p {
    white-space: nowrap;

    padding-top: .25rem;
    padding-left: 1rem;

    background: url(/img/bulletPoint.png) left no-repeat;
    background-size: .4rem;

    font-family: Georgia, serif;
    font-size: 2em;
    color: var(--nav-text-colour);
}

.nav-shown {
    width: 100%;
    height: calc(100% - 2em);
}

#show-nav-desktop {
    display: flex;
    flex-direction: row;

    transition: opacity .5s ease;

    border: none;
    width: max-content;
    height: 100%;
    padding-left: 5%;

    background-color: rgba(0, 0, 0, 0);

    text-align: center;
    text-decoration: none;
}

#show-nav-desktop:hover {
    cursor: pointer;
}

#show-nav-desktop img {
    height: 2em;
}

#show-nav-desktop p {
    margin: auto 0;
    padding-left: .5em;

    color: var(--nav-text-colour);
}

#show-nav-desktop-bg {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 2em;

    background-color: rgba(105, 105, 105, 0.9);
}

#show-nav-mobile {
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Main Content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main {
    overflow: auto;
}

main p {
    padding: .25em 0 .75em 0;
}

figure {
    float: left;
    clear: left;

    margin: .25em 2% .25em 0;
}

#screenshot {
    width: 40vw;
    height: 20vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Media Queries~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-height: 350px) {
    /* Changes size of font and background in navbar to prevent clipping at
       small screen sizes */
    nav a p {
        background: url(/img/bulletPoint.png) left no-repeat;
        background-size: .55rem;

        font-size: 3em;
    }
}

@media screen and (min-height: 600px) {
    nav a p {
        background: url(/img/bulletPoint.png) left no-repeat;
        background-size: .7rem;

        font-size: 5em;
    }
}

@media screen and (min-width: 700px) {
    /* Increase font size as screen gets wider */
    h1,
    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }
}

@media screen and (max-width: 800px) {
    nav a p {
        background: url(/img/bulletPoint.png) left no-repeat;
        background-size: .55rem;

        font-size: 3em;
    }
}

@media screen and (min-width: 1300px) {
    /* Adjust size of image as screen gets larger */
    #screenshot {
        width: 30vw;
    }
}