/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Custom Properties~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --menu-offset: 5%; /* Controls how much each menu item moves to the right */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~General Tags~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h2 {
    text-align: left;
    padding-bottom: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
    padding-top: 2em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Navigation~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav {
    position: fixed;
    top: 2em;

    transition: width .5s ease;
    width: 0; /* width = 0  as nav starts hidden */
    height: calc(100% - 2em); /* Set height to 100% - height of the button */
    /* Let background be slightly transparent, for a nice modern look */
    background-color: rgba(105, 105, 105, 0.9);
}

nav *:focus {
    /* Remove focus background colour set in mobile.css */
    background-color: transparent;
}

nav ul {
    overflow: hidden;

    height: 100%;
}

nav li {
    border: none;
    height: 16%;
    padding-left: 5%;
}

/* Set margin of each menu item to be 1 menu offset more than that of the
previous, to create a 'stepped' look
 */
nav li:nth-child(1) {
    margin-left: calc(var(--menu-offset) * 1);
}

nav li:nth-child(2) {
    margin-left: calc(var(--menu-offset) * 2);
}

nav li:nth-child(3) {
    margin-left: calc(var(--menu-offset) * 3);
}

nav li:nth-child(4) {
    margin-left: calc(var(--menu-offset) * 4);
}

nav li:nth-child(5) {
    margin-left: calc(var(--menu-offset) * 5);
}

nav li:nth-child(6) {
    margin-left: calc(var(--menu-offset) * 6);
}

nav a {
    transition: .25s ease;

    overflow: visible;

    width: max-content;
    padding: 0 5% 0 0;

    background-color: transparent;

    line-height: calc((100vh - 2em) / 5);
    text-align: left;
}

/* When a nav item is hovered over (or focused), move it to the right, to show
that it has been selected
 */
nav a:hover,
nav a:focus {
    padding-left: var(--menu-offset);
}

nav a p {
    white-space: nowrap; /* Prevent text from wrapping onto a second line */

    padding-top: .25rem;
    padding-left: 1rem;

    /*  Using an image of a bullet point rather than a • character, as using a
    character would result in it also showing up on the mobile version of the
    site, which is undesirable
     */
    background: url(/img/bulletPoint.png) left no-repeat;
    background-size: .4rem;

    font-family: Georgia, serif;
    font-size: 2em;
    color: var(--nav-text-colour);
}

.nav-shown {
    width: 100%; /* Set width to 100% when shown */
    height: calc(100% - 2em);
}

#show-nav-desktop {
    display: flex; /* Keep image and button text together */
    flex-direction: row;

    transition: opacity .5s ease;

    border: none;
    width: max-content;
    height: 100%;
    padding-left: 5%;

    background-color: rgba(0, 0, 0, 0);

    text-align: center;
    text-decoration: none;
}

#show-nav-desktop:hover {
    /* Change cursor, as a visual indicator that the user can click the
    button
     */
    cursor: pointer;
}

#show-nav-desktop img {
    height: 2em;
}

#show-nav-desktop p {
    margin: auto 0;
    padding-left: .5em;

    color: var(--nav-text-colour);
}

#show-nav-desktop-bg {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 2em;

    background-color: rgba(105, 105, 105, 0.9);
}

#show-nav-mobile {
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Main Content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main {
    margin-top: 0;
    overflow: auto;
}

main p {
    padding: .25em 0 .75em 0;
}

#screenshot {
    float: left; /* Let main text wrap around the screenshot */
    clear: left;

    margin: .25em 2% .25em 0;
    width: 40vw;
    height: 20vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Contact Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
form {
    width: 45%;
    margin-right: 5%;
}

#contact-us {
    flex-direction: row; /* Show contact form and address next to each other */
}

#company-info {
    max-width: 50%;

    text-align: left;
}

#company-info p {
    font-size: 0.75em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~News Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.news-article {
    /* Set width and padding to add up to 50% so that only 2 articles appear per
    line
     */
    padding: 1em 2%;
    width: 46%;
}

.news-article-image {
    margin: 0 2% 0 0;
    float: left;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Media Queries~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-height: 350px) {
    /* Changes size of font and background in navbar to prevent clipping at
    small screen sizes
     */
    nav a p {
        background: url(/img/bulletPoint.png) left no-repeat;
        background-size: .55rem;

        font-size: 3em;
    }
}

@media screen and (min-height: 600px) {
    /* Increase size of text and bullet points, to be more visible */
    nav a p {
        background: url(/img/bulletPoint.png) left no-repeat;
        background-size: .7rem;

        font-size: 5em;
    }
}

@media screen and (min-width: 700px) {
    /* Increse font size as screen gets wider */
    #company-info p {
        font-size: 1em;
    }
}

@media screen and (max-width: 800px) {
    nav a p {
        /* Increase size of text and bullet points, to be more visible */
        background: url(/img/bulletPoint.png) left no-repeat;
        background-size: .55rem;

        font-size: 3em;
    }
}

@media screen and (min-width: 800px) {
    .news-article {
        /* Set width and padding to add up to 33% so that only 3 articles appear per
        line
         */
        padding: 1em 2%;
        width: 29%;
    }
}

@media screen and (min-width: 850px) {
    /* Increase font size as screen gets wider */
    /* Before this tweakpoint - tablet design, after - PC */
    h1,
    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~Contact Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    input {
        height: 2em;
    }

    .name-email-input {
        width: 50%;
    }

    .name-email-input:last-child {
        margin-left: 5%;
    }

    #name-and-email {
        /* Display name and email form fields next to each other, as screen is
        now wide enough to do this
         */
        flex-direction: row;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~Founder Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Add space next to founder descriptions, so they don't go underneath the
    image of the previous founder, to match the design specified in my planning
    document
     */
    .founder-desc {
        margin: auto 2% auto 27%
    }

    .right-border+.founder-desc {
        margin: auto 27% auto 2%;
    }
}

@media screen and (min-width: 1300px) {
    /* Adjust size of image as screen gets larger */
    #screenshot {
        width: 30vw;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~News Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    .news-article {
        /* Set width and padding to add up to 25% so that only 4 articles appear per
        line
         */
        width: 21%;
    }

    .news-article-image {
        width: 33%;
    }
}