/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Custom Properties~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    /* Using custom properties for colours, so I can easily change the colour
    scheme if I so choose.
     */
    --header-background-colour: #f00;
    --header-text-colour: #FEFBE0;
    --nav-background-colour: #f00;
    --nav-focus-background-colour: #d00;
    --nav-text-colour: #FEFBE0;
    --main-background-colour: #FEFBE0;
    --main-text-colour: #1B1B1B;
    --footer-background-colour: #FEFBE0;
    --footer-text-colour: #1B1B1B;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~General Tags~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Add a border around elements when they are focused (selected using tab or
otherwise - helps keep the website accessible
 */
* {
    transition: border .25s ease;
}

*:focus {
    outline: 3px solid blue;
}

html,
body {
    height: 100%;

    background-color: var(--main-background-colour);
}

/* Set font-family, font-size, and color to default values, to avoid needing to
specify for everything that isn't a heading
 */
* {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    color: var(--main-text-colour);
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
    color: var(--main-text-colour);
}

h1,
h2 {
    font-size: 1.5em;
}

h2 {
    text-align: center;
    padding-bottom: .5em;
}

h3 {
    font-size: 1.5em;
}

textarea,
input[type=text],
input[type=email] {
    font-size: 0.75em;
}

small {
    font-size: 0.5em;
}

q {
    quotes: '“' '”' '‘' '’';
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

q.fancy-quote,
em {
    font-style: italic;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
    /* Using flex here to keep heading and logo on same line when both have
    position: static, and to avoid having to use float in both
     */
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid black;
    width: 100%;
    height: 5em;

    background-color: var(--header-background-colour);

    text-align: center;
}

header h1 {
    /* Absolute position ensures that the header stays centred, and doesn't get
    pushed right by the logo when it has wrapped onto two lines
     */
    position: absolute;

    margin: 0.5em 20%;

    color: var(--header-text-colour);
}

#logo {
    height: 100%;
    padding: 0 2% 0 5%;
}

#logo img {
    margin: 10% 0; /* Vertically centre logo */
    height: 80%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Navigation~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav {
    position: absolute; /* Stop menu from pushing other elements down */

    transition: height .5s ease;

    margin: 0;
    width: 100%;
    height: 0; /* Initially set height to 0, as nav is hidden */
    padding: 0;
}

nav *:focus {
    /* Change background colour on focus, as blue outline isn't very visible */
    background-color: var(--nav-focus-background-colour);
}

nav li {
    border-bottom: 1px solid black;
    height: 3em;
}

nav ul {
    overflow: hidden;

    height: 100%;
}

nav a {
    top: 0;

    display: block;

    width: 100%;
    height: 100%;

    background-color: var(--nav-background-colour);

    text-align: center;
    text-decoration: none;
}

nav a p {
    padding-top: 1em;

    color: var(--nav-text-colour);
}

.nav-shown {
    height: 18.25em;
}

#show-nav-desktop {
    /* Hide desktop-specific show button */
    display: none;
}

#show-nav-mobile {
    transition: width .2s ease, border-bottom-right-radius .1s ease;

    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 3em;

    background-color: var(--nav-background-colour);

    text-align: center;
    text-decoration: none;
    color: var(--nav-text-colour);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Main Content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
main {
    margin-top: 3em; /* Move main below nav button */
    height: max-content;
    /* Set left and right padding so content doesn't go right to the edge of the
     screen
     */
    padding: .5em 5% 1em 5%;
}

main p {
    padding: .25em 0 .75em 0;
}

figure img {
    max-width: 100%;
}

figcaption {
    overflow: hidden;

    max-width: 100%;

    text-align: center;
    font-size: 1em;
}

#screenshot {
    margin: .25em 2% .25em 0;
    border: 1px solid black;
    width: 90vw; /* Take up 90% of viewport width (ful width of main) */
    height: 45vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
    margin-left: 5%;
    border-top: 1px solid black;
    padding: 1em 0;
    width: 90%;

    font-size: .5em;
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Founder Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.founder-image,
.founder-image img {
    width: 100%; /* Take 100% width of parent (main) */
}

.founder-image figcaption {
    text-align: center;
}

#founder-jack,
#founder-julie,
#founder-terrence {
    display: flex;
    flex-direction: column;

    margin: .75em 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Contact Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
form,
input,
textarea {
    /* Make the width attribute include borders, giving consistent sizing for
    input elements.
     */
    box-sizing: border-box;
    width: 100%;
}

label {
    display: inline-block;
    margin-top: .5em;
}

input {
    height: 3em;
}

input,
textarea {
    border: 1px solid black;
}

input[type=submit],
input[type=reset] {
    margin-top: .5em;
    border: none;
}

textarea {
    resize: none; /* Prevent user from resizing textarea element */
}

#contact-us {
    display: flex;
    flex-direction: column; /* Show contact form and company info stacked */
}

#name-and-email {
    display: flex;
    flex-direction: column;
}

#company-info {
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~News Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.date {
    font-size: 0.75em;
    padding-bottom: 1em;
    text-align: center;
}

.news-article {
    overflow: hidden;

    transition: height .5s ease;

    padding: 1em 0;
}

.news-article h3 {
    padding-bottom: .25em;
    text-align: center;
}

.news-article p {
    /* Border box needed here as, without it, showArticle.js gets the height
    including padding, and then sets height not including padding, causing
    articles to grow each time they are opened.
     */
    box-sizing: border-box;
}

.news-article:hover {
    cursor: pointer;
}

.news-article-image {
    width: 50%;
    margin: 0 auto;
    padding-bottom: .5em;
    transition: .5s ease;
}

#articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~Media Queries~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 350px) {
    /* Increases font sizes as screen width increases */
    h1,
    h2 {
        font-size: 2em;
    }

    header h1 {
        margin: .2em 20%;
    }
}

@media screen and (min-width: 425px) {
    header h1 {
        /* Set position to static when header is no longer on two rows */
        position: static;
        margin: auto 0;
        padding: .25em 0;
    }
}

@media screen and (min-width: 450px) {
    #founder-jack,
    #founder-terrence {
        /* Moves image and description to be side-by-side when there is enough
        screen width to do so
         */
        flex-direction: row;
    }

    #founder-julie {
        /* Sets flex-direction to row-reverse, so that this founder's image is
        on the right, and the description is on the left, to match the design
        specified in my planning document
         */
        flex-direction: row-reverse;
        text-align: right;
    }

    .founder-image {
        /* Set founder images to grow at a normal pace relative to the rest */
        flex: 1 1 0;

        /* Add a border between the description and image, to make them easy to
        distinguish from one another
         */
        border-left: 1px solid var(--main-text-colour);
        padding: 0 0 0 2%;
    }

    .founder-desc {
        /* Set founder images to grow twice as fast relative to the rest,
        resulting in a 2:1 ratio of description:image
         */
        flex: 2 1 0;

        margin: auto 5px;
    }

    .right-border {
        /* For first and last founders, the border needs to be on the right of
        the image
         */
        border-left: none;
        border-right: 1px solid var(--main-text-colour);
        padding: 0 2% 0 0;
    }
}